{% extends 'base.html' %} {% block head %}
<title>Home</title>
{% endblock %} {% block body %}
<hgroup>
  <h1>Welcome to My Test Website</h1>
</hgroup>
<p>
  Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
  incididunt ut labore et dolore magna aliqua. Dui accumsan sit amet nulla
  facilisi morbi tempus iaculis. Vulputate mi sit amet mauris commodo. Amet
  massa vitae tortor condimentum lacinia quis vel. Morbi tristique senectus et
  netus et malesuada. Sapien pellentesque habitant morbi tristique senectus et
  netus et malesuada. Elit scelerisque mauris pellentesque pulvinar pellentesque
  habitant. Erat pellentesque adipiscing commodo elit at imperdiet dui accumsan.
  Rutrum quisque non tellus orci ac auctor augue. Facilisis gravida neque
  convallis a cras semper auctor neque vitae. Vulputate eu scelerisque felis
  imperdiet proin fermentum leo vel orci. Nunc eget lorem dolor sed viverra
  ipsum nunc aliquet. Tortor vitae purus faucibus ornare. Eget dolor morbi non
  arcu risus quis.
</p>
{% endblock %}
