{% extends 'base.html' %} {% block head %}
<title>Login</title>
{% endblock %} {% block body %}
<article class="grid">
  <div>
    <hgroup>
      <h1>Sign In</h1>
      <h2>Log in to post and comment</h2>
    </hgroup>
    <form action="{{url_for('login')}}" method="POST" autocomplete="off">
      <div role="alert">{{ msg }}</div>
      <input
        type="text"
        name="username"
        placeholder="Username"
        aria-label="Username"
        required
      />
      <input
        type="password"
        name="password"
        placeholder="Password"
        aria-label="Password"
        required
      />
      <fieldset>
        <label for="remember">
          <input type="checkbox" role="switch" id="remember" name="remember" />
          Remember me
        </label>
      </fieldset>
      <button type="submit" class="contrast">Login</button>
    </form>
  </div>
  <div style="background-image: url('../static/login.jpg')"></div>
</article>
{% endblock %}
